@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.forgot_password_background{
    font-family: 'Inter', sans-serif;
    height:100%;
    background: linear-gradient(to bottom, #f5f4ff, #4535fd);
}

.forgot_password_module{
    left:30%;
    top:10%;
    position:relative;
    background:  #766aff;
    border-radius:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
    height:80%;
}

.forgot_password_module h1{
    top:3%;
    font-size: 3.8ch;
    position: absolute;
  
    color:rgb(255, 255, 255);
    letter-spacing: .08em;
    font-weight: 370;
}

form {
    display: flex;
    flex-direction: column;
    gap:15px;
}

.submit_btn{
     position: absolute;
    width: 75px;
    height: 45px;
    border-radius: 12px;
     border: none;
    background-color: #ffffff;
    left:45%;
    top:70%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    font-size: 15px;
}

.instructions{
    color:white;
    position: absolute;
    top:25%;
}

.error_message{
    color:rgb(255, 0, 0);
    position: absolute;
    top:35%;
    font-size: 15px;
    white-space: nowrap;
}

.login_link{
    position: absolute;
    top:55%;
    left: 33%;
    font-size:2ch;
}

.changed_password_message{
    text-align: center;
    color:white;
    position: absolute;
    top:30%;
    margin:auto 60px;
    font-size:2.5ch;
}