@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.Manage_applications_background{
    font-family: 'Inter', sans-serif;
    height:100vh;
  
    display: flex;
    justify-content: center;
   
   
}

.Manage_applications_background h1{
   position: absolute;
   left:1%;
   top:-3%;
   
    font-family: 'Inter', sans-serif;
    font-size: 6ch;
    color:#4535fd;
    letter-spacing: .01em;
    font-weight: 300;
}

.filter_box{
    position: absolute;
    width:250px;
    height:50px;
    left:1%;
    top:12%;
}

.filter_box h2{
    text-align: left;
   
    font-family: 'Inter', sans-serif;
   
    color:#4535fd;
    letter-spacing: .01em;
}

.filter_status_dropdown{
    border-width: 3px;
    border-color: #4535fd;
    width:260px;
    height:40px;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    font-size:1.6ch;
    color:#4535fd;
    font-weight: 700;
}

.filter_box{
    width:20%;
    height:20%;
    
}

.table_box_background{
    top:20%;
    left:15%;
    width:70%;
    background: radial-gradient(circle, #ffffff, #4535fd);
    border-radius:45px;
    padding:50px;
    position: absolute;
    
}

.table_box{
    padding:50px;
    width:90%;
    margin:auto;
    background: white;
    border-radius:45px;
    position: relative;
}

.applications_table th,
.applications_table td{
    border-bottom: 1px solid rgb(185, 185, 185);
    padding: 10px;
    text-align: left;
    font-size: 1.5ch;
    word-wrap: break-word;
   
}

.applications_table{
    width:100%;
    border-collapse: collapse;
}

.status{
   padding:6px 10px;
}

.applied{
    background-color: rgb(132, 210, 255);
}
.interview{
    background-color: rgb(165, 255, 165);
}
.offered{
    background-color: rgb(224, 186, 255);
}
.rejected{
    background-color: rgb(255, 180, 180);
}

.kebab{
    border: none;
    background-color: white;
    font-size: x-large;
    color:black;
}
.edit, .delete{
    border:none;
    background-color:white;
    text-align: left;
    cursor: pointer;
    padding: 6px;
   
}

.kebab_dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:85%;
    top:4%;
    
    
}
td{
    position: relative;
}

.delete_modal{
    position: fixed;
    display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(216, 216, 216, 0.2);
  

    
}

.delete_modal_content{
    margin:auto;
    display:flex;
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
    height:350px;
    width:350px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 5px solid #4535fd;
}



.delete_modal_content p{
    text-align:center;
    margin-top:40px;
    color: #4535fd;
    font-size: 1.8ch;
   
}

.delete_modal_buttons_box{
    display:flex;
    margin:auto;
    gap: 50px;
}

.delete_modal_buttons{
    border: none;
    width:80px;
    height:45px;
    border-radius:35px;
    color:white;
    background-color: #4535fd;
}