@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');



.no_applications_message{

    font-size: 1.5ch;
    color: rgb(132, 132, 132);
    text-align: center;
    margin-top: 20px;
  
}


.Manage_applications_background h1{
   position: absolute;
   left:1%;
   top:-3%;
   
    font-family: 'Inter', sans-serif;
    font-size: 6ch;
    color:#4535fd;
    letter-spacing: .01em;
    font-weight: 300;
}

.filter_box{
    position: absolute;
    width:250px;
    height:50px;
    left:1%;
    top:12%;
}

.filter_box h2{
    text-align: left;
   
    font-family: 'Inter', sans-serif;
   
    color:#4535fd;
    letter-spacing: .01em;
}

.filter_status_dropdown{
    border-width: 3px;
    border-color: #4535fd;
    width:260px;
    height:40px;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    font-size:1.6ch;
    color:#4535fd;
    font-weight: 700;
}

.filter_box{
    width:20%;
    height:20%;
    
}

.table_box_background{
    top:20%;
    left:15%;
    width:70%;
    background: radial-gradient(circle, #ffffff, #4535fd);
    border-radius:45px;
    padding:50px;
    position: absolute;
    
}

.table_box{
    padding:50px;
    width:90%;
    margin:auto;
    background: white;
    border-radius:45px;
    position: relative;
    
}

.applications_table th,
.applications_table td{
    border-bottom: 1px solid rgb(185, 185, 185);
    padding: 10px;
    text-align: center;
    font-size: 1.5ch;
    word-wrap: break-word;
   
}

.applications_table{
    width:100%;
    border-collapse: collapse;
    
}

.status{
   padding:6px 10px;
}

.applied{
    background-color: rgb(132, 210, 255);
}
.interview{
    background-color: rgb(165, 255, 165);
}
.offered{
    background-color: rgb(224, 186, 255);
}
.rejected{
    background-color: rgb(255, 180, 180);
}

.kebab{
    border: none;
    background-color: white;
    font-size: x-large;
    color:black;
}
.edit, .delete{
    border:none;
    background-color:white;
    text-align: left;
    cursor: pointer;
    padding: 6px;
   
}

.kebab_dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:85%;
    top:4%;
    
    
}
td{
    position: relative;
}


