@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
body{
     font-family: 'Inter', sans-serif;
    
}

.background{
    height:100%;
    background: white;
 
}

.left_side h1{
    font-size: 3ch;
    position: absolute;
    font-weight: 370;
    left:23%;
    top:1%;
    color:rgb(255, 255, 255);
   
     letter-spacing: .08em;
}



.signup_btn{
    position: absolute;
    width: 75px;
    height: 45px;
    border-radius: 12px;
     border: none;
    background-color: #ffffff;
    left:40%;
    top:103%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    font-size: 15px;
}

.signup_modal{
    position: absolute;
    background: linear-gradient(to bottom, #f5f4ff, #4535fd);
    align-items: center;
    justify-content: center;
   display:flex;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    border-radius:45px;
    height:80%;
    width:70%;
}

.signup_modal_content{
   
   position:relative;
    background:  #766aff;
    border-radius:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:85%;
    height:90%;
}

.left_side{
    position:relative;
    border-radius:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width:50%;
    height:100%;
}



.text_box{
    border: none;
    border-radius: 30px;
    width: 20vw;
    height: 30px;
    padding: 10px;
    background-color: white;
    outline: none;
   

}

label{
    text-align: left;
    font-weight: light;
    font-size: 15px;
    color:white;
}

.left_side form{
    position: absolute;
    display:flex;
    flex-direction: column;
    gap: 15px;
    left:10%;
    justify-content: center;
}

.login_link{
    position: absolute;
    top:97%;
    left:33%;
    color: #ffffff;
    font-size: smaller;
}

.right_side{
    position:relative;
    border-radius:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width:50%;
    height:90%;
    top:16px;
    right:40px;
  
}

.on-computer{
  width: 100%;
  height:100%;
  object-fit: auto;
  border-radius: 45px;
 
}

.close_btn{
   font-size:60px;
   
    
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 50px;
    border: none;
    font-weight: normal;
    cursor: pointer;
}
.close_btn_container{
    position: absolute;
    top: 1px;
    right: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_message{
    position: absolute;
    top: 10%;
    left: 40%;
    color:red;
    font-size: smaller;
}

