@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
html,body, #root {
    height: 100%;
     font-family: 'Inter', sans-serif;
  
}


.splash h1{
    position: absolute;

    color: white;
    border: 25px;
    left:30%;
    top:25%;
    font-size: 9ch;
    letter-spacing: .08em;
    font-weight: 100;
}

.splash-page{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh; 
  margin: 0;
  background: linear-gradient(to bottom, #f5f4ff, #4535fd);
  background-size: cover;
  background-repeat: no-repeat;
   
}



.splash-page .loading-container{
   
    width: 300px;
    height: 100px;
    position: relative;
    overflow: hidden;
  
}

.splash-page .ball{
    border-radius: 50%;
    background-color:white;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;

}

