@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.Succesfully_submitted_background{
    font-family: 'Inter', sans-serif;
    height:100%;
    background: white;
    position: relative;
    justify-content: center;
    display: flex;
}
.Succesfully_submitted_background h1{
    font-size: 5ch;
    position: absolute;
    color:#4535fd;
    letter-spacing: .01em;
    top:30%;
    
}

.dashboard_button{
     width: 110px;
    height: 55px;
    border-radius: 12px;
     border: none;
    background-color: #4535fd;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top:70%;
}